
/* RESET */

@import url('meyer-reset.css');
@import url('setup-reset.css');

:root {
	--fish-green: #D3E8CD;
	--fish-blue: #E1F5FD;
	--tile-red: #A82D1D;
	--sand-yellow: #FECA52;
}

/*SITE STRUCTURE*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

inner-column {
	display: block;
	width: 100%;
	max-width: 850px;
	margin-inline: auto;
	padding: 2rem 1rem;
} 

experience-gained, div {
	display: block;
}

/* LANDING PAGE */
/* HEADER */

header {
	background-color: var(--fish-blue);
}

.site-header inner-column {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-header h1 {
	letter-spacing: .004em;	
}

header nav {
	padding-block: .5rem;
}

svg {
	display: block;
	height: auto;
}

logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.site-logo {
	max-width: 50px;
}

.header-menu {
	display: flex;
	flex-direction: column;
}


/*PAGE CONTENT*/

.page-content span {
	font-style: italic;
}

p + p {
	padding-top: 15px;
}

.welcome {
	padding-block: 30px 48px;
}

/*TIMELINE PAGE*/


experience-gained h2 {
	font-family: Gill Sans, sans-serif;
	font-size: 24px;
}

h2 + p {
	padding-top: 15px;
}

experience-gained ul {
	padding-top: 15px;
}

div + experience-gained {
	padding-top: 30px;
}

experience-gained + experience-gained {
	padding-top: 30px;
}


/* ASSETS */

.seaweed-1 {
	display: none;
}

.seaweed-2 {
	display: none;
}

.seaweed-3 {
	position: absolute;
	right: 0;
	bottom: -100px;
	max-width: 150px;
	z-index: -1;
}

.fish {
	max-width: 50px;
	transition: 1s;
	bottom: 50px;
	right: 300px;
}

/*LISTS and LINKS*/

.page-content ul {
	padding-block: 1em;
	padding-left: .5em;
}

.page-content ul li {
	padding-left: .5em;
	padding-block: .25em;
}

li {
	line-height: 1.44;
	font-family: sans-serif;
	max-width: 50ch;
}

p a, li a {
	color: blue;
	text-decoration: none;
	display: inline-block;
	font-family: futura;
}

.main-link a {
	color: black;
}

p a:hover, li a:hover {
	text-decoration: wavy underline;
	text-decoration-color: #FECA52;
}

a:visited {
	color: var(--tile-red);
}


/*Typography*/

p {
	line-height: 1.44;
	font-size: 1rem;
	max-width: 50ch;
}

.whisper-voice {
	font-size: .7rem;
	font-family: "Gill Sans", sans-serif;
}

.quiet-voice {
	font-size: .8rem;
	font-family: "Gill Sans", sans-serif;
}
.indoor-voice {
	font-size: 1rem;
	font-family: "Gill Sans", sans-serif;
	font-weight: 300;
}

.outdoor-voice {
	font-size: 1.25rem;
	font-family: "Gill Sans", sans-serif;
}

.loud-voice {
	font-size: 1.5rem;
	font-family: "Gill Sans", sans-serif;
}

/* Media */

@media (min-width: 350px) {
	.header-menu {
		flex-direction: row;
		justify-content: space-around;
	}

	.seaweed-1 {
		position: absolute;
		right: 0;
		bottom: -100px;
		max-width: 150px;
		z-index: -1;
	}

	.fish {
		display: block;
		position: absolute;
		max-width: 50px;
		right: 250px;

}

@media (min-width: 525px) {
	.site-header inner-column {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.header-menu {
		gap: 40px;
	}
}

@media (min-width: 650px) {
	.seaweed-2 {
		display: block;
		position: absolute;
		right: 100px;
		bottom: -100px;
		max-width: 150px;
		z-index: -1;
	}

	.fish {
		display: block;
		position: absolute;
		right: 120px;
		max-width: 50px;
	}

}

@media (min-width: 775px) {
	.seaweed-1 {
		display: block;
		position: absolute;
		right: 225px;
		bottom: -100px;
		max-width: 150px;
		z-index: -1;
	}
}


/*@media (min-width: 450px) {
	.timeline-nav ul {
		flex-direction: row;
		align-items: center;
		gap: 25px;
		padding-top: 0px;

	}
}*/