.contact address {
	padding: 1em;
	display: grid;
	font-size: clamp(16px, 5vw, 32px);
	font-family: "Noto Sans", sans-serif;
	gap: 10px;
}

.contact picture {
	padding: 5vw;
	background-color: var(--color-two);
	& img {
		border-radius: 10px;
	}
}


@media (prefers-color-scheme: dark) {
	.contact a {
		color: white;
	}
}
