.contact .email-address {
	color: var(--color-primary-dark);
	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 4px;
		text-decoration-color: var(--color-primary);
	}
}

.contact picture {
	padding: 1em;
	background-color: var(--color-two);
	max-width: 400px;
	& img {
		border-radius: 10px;
	}
}


@media (prefers-color-scheme: dark) {
	.contact a {
		color: var(--color-three);
	}
}
