.exploration .double-figure figure {
	padding-block: 1rem;
}

@media (min-width: 768px) {
	.exploration .double-figure figure {
		display: flex;
		flex-direction: row;
		gap: 10px;
		& picture {
			width: 70%;
		}
		& figcaption {
			width: 30%;
		}
	}