
.fair-use {
	grid-column: 1 / -1;
	grid-row: 2;
	max-width: 80ch;
	padding-top: 2rem;
}

.influence-list ul {
	grid-column: 1 / -1;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 40px 20px;

}

/* see artist-card module */

.artist-card-container {
	perspective: 600px;
	min-width: 250px;
	min-height: 250px;
}

.current {
	background-color: var(--sand-yellow)
}

.italic {
	font-style: italic;
}

@media (min-width: 332px) {
	.artist-card-container {
		width: 200px;
	}
}

@media (min-width: 375px) {
	.artist-card-container {
		width: 250px;
	}
}

@media (min-width: 571px) {
	.influences ul {
		grid-column: 2 / 11;
		grid-template-columns: repeat(2, 1fr);

		.artist-card-container {
			width: 200px;
		}
	}

	.fair-use {
		grid-column: 2 / 11;
	}
}

@media (min-width: 700px) {
	.artist-card-container {
		width: 325px;
	}
}

@media (min-width: 900px) {
	.influences ul {
		grid-column: 2 / 11;
		grid-template-columns: repeat(3, 1fr);
	}

	.fair-use {
		grid-column: 2 / 11;
	}
}

@media (min-width: 1400px) {
	.influences ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

