
.fair-use {
	grid-column: 1 / -1;
	grid-row: 2;
	max-width: 80ch;
	padding-top: 2rem;
}

.influence-list ul {
	grid-column: 1 / -1;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px 15px;

}

.current {
	background-color: var(--sand-yellow)
}

.italic {
	font-style: italic;
}

@media (orientation: landscape) {
	.influences ul {
		grid-column: 2 / 11;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	.influences ul {
		grid-column: 2 / 11;
		grid-template-columns: repeat(3, 1fr);
	}

	.fair-use {
		grid-column: 2 / 11;
	}
}

@media (min-width: 1400px) {
	.influences ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

