
/* RESET */

@import url('meyer-reset.css');
@import url('setup-reset.css');

/*SITE STRUCTURE*/

body {
	min-height: 100vh;
	position: relative;
}

main {
	position: relative;
}

inner-column {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 5px;
} 

/*Site Header*/

.site-header inner-column {
	padding-block: 10px;
}

.smiley {
	width: 50px;
}

header-module {
	display: flex;
	gap: 20px;
	align-items: center;
}
/*Page-Intro*/

.page-section {
	padding-block: 35px;
}

.page-intro {
	position: relative;
	overflow: hidden;
}

intro-module {
	display: block;
}

intro-component {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

heading-and-link {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

intro-component a {
	text-transform: uppercase;
	background-color: #C1E1C1;
	border-radius: 30px;
	padding-block: 5px;
	padding-inline: 10px;
	max-width: 120px;
	text-align: center;
}

.circle-1 {
	display: block;
	position: absolute;
	top: -70px;
	left: -30px;
	max-width: 100px;
	opacity: .5;
}

.rectangle-1 {
	display: none;
}

.rectangle-2 {
	display: none;
}

/*Product Gallery */

.product-gallery {
	display: flex;
	flex-grow: 1;
}

product-module {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

product-container {
	display: flex;
	flex-direction: column;
	background-color: rgba(255 255 255 / .5);
	gap: 10px;
}

/*Footer*/

	.site-footer {
		padding-block: 10px;
	}

	.site-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

/* THEME */
html {
	background: #C1E1C1;
}

.site-header {
	background-color: #EFEFEF;
}

.page-intro {
	background-color: rgba(255 255 255 / .5);
}

.site-footer {
	background-color: rgba(0 0 0 / .6);
	color: white;
}

.bonus-content {
	display: none;
}

.circle-2 {
	display: none;
}

/* TYPOGRAPHY */

.whisper-voice {
	font-size: 10px;
	font-family: sans-serif;
}

.quiet-voice {
	font-size: 12px;
	font-family: sans-serif;
}
.indoor-voice {
	font-size: 16px;
	font-family: sans-serif;
}

.outdoor-voice {
	font-size: 20px;
	font-family: sans-serif;
}

.loud-voice {
	font-size: 24px;
	font-family: sans-serif;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
	.circle-1 {
		max-width: 150px;
		z-index: -1;
	}

	product-container {
		flex-direction: row;
	}

	.product-picture {
		width: 50%;
	}
	
	.product-container h2 {
		width: 44%;
	}

	.product-gallery {
		position: relative;
	}

	.product-gallery inner-column {
		padding-bottom: 30px;
	}

}

@media (min-width: 700px) {
	inner-column {
		padding-inline: 30px;
	}

	intro-component {
		flex-direction: row-reverse;
	}

	heading-and-link {
		justify-content: center;
		width: 35%;
	}

	intro-component picture {
		width: 65%;
	}

	.bonus-content {
		display: block;
		border: 2px solid black;
		max-width: 400px;
		padding: 5px;
		margin-top: 30px;
	}
	product-module {
		flex-direction: row; 
	}

	product-container {
		flex-direction: column;
		padding: 5px;
	}

	.product-picture {
		width: 100%;
	}
	
	.product-container h2 {
		width: 100%;
	}

	.circle-1 {
		max-width: 200px;
		top: -80px;
		left: 150px;
	}

	.circle-2 {
		display: block;
		position: absolute;
		bottom: 60%;
		right: 0;
		max-width: 300px;
		opacity: .5;
		z-index: -1;
	}

}

@media (min-width: 1000px) {

	intro-component {
		flex-direction: row;
	}

	heading-and-link {
		justify-content: flex-start;
	}

	.bonus-content {
		display: none;
	}

	product-container {
		flex-direction: row;
		background-color: rgba(255 255 255 / 0);
		justify-content: center;
		padding: 0px;
	}

	product-container h2 {
		background-color: rgba(255 255 255 / .5);
	}

	.product-picture {
		width: 60%;
	}
	
	product-container h2 {
		width: 60%;
		padding: 5px;
	}

	.circle-1 {
		max-width: 200px;
		top: 300px;
		left: -20px;
		z-index: -1;

	}

	.circle-2 {
		display: block;
		position: absolute;
		bottom: 20%;
		right: -10%;
		max-width: 350px;
		opacity: .5;
		z-index: -1;
	}

	.rectangle-1 {
		display: block;
		position: absolute;
		max-width: 2000px;
		transform: rotate(-10deg);
		top: -500px;
		left: -500px;
		z-index: -1;
		opacity: .1;
	}

	.rectangle-2 {
		display: block;
		position: absolute;
		max-width: 2000px;
		transform: rotate(-10deg);
		top: -500px;
		left: -400px;
		z-index: -1;
		opacity: .1;
	}
}

	@media (min-width: 1250px) {

	.circle-1 {
		max-width: 300px;
		top: 250px;
		left: -40px;
		z-index: -1;

	}
	.circle-2 {
		display: block;
		position: absolute;
		bottom: -10%;
		max-width: 525px;
		opacity: .5;
		z-index: -1;
	
	}


}
