.bottles-in-the-sky .headline {
	grid-column: 1 / -1;
}

.bottles-in-the-sky .common-figure {
	grid-column: 1 / -1;
}

.bottles-in-the-sky .double-figure {
	grid-column: 1 / -1;
}

@media (min-width: 768px) {
	.bottles-in-the-sky .headline {
		grid-column: 2 / 11;
	}
	.bottles-in-the-sky .common-figure {
		grid-column: 2 / 11;
	}

	.bottles-in-the-sky .double-figure {
		grid-column: 2 / 11;
	}
}
