.case-study-link {
	margin-left: 1rem;
	display: block;
	border: 2px solid black;
	padding: 8px 4px;
	text-align: center;
	max-width: 100px;
}

case-study-wrapper {
	display: block;
	padding-top: 1rem;
}

.case-study-link:hover {
	background-color: var(--fish-green);
}

module-showcase {
	display: block;
}

.case-study-link + module-showcase {
	margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--ink-light);
		background-color: var(--paper-black);
	}

	.case-study-link {
		border: 2px solid var(--paper);
	}
}