.case-study-link {
	grid-column: 1 / 5;

	display: block;
	border: 2px solid black;
	border-radius: 5px;
	padding: 8px 4px;
	text-align: center;
	max-width: 100px;
}

case-study-wrapper {
	display: block;
	padding-block: 1rem;
}

.module-showcase {
	display: flex;
	flex-direction: column;
}
.layout-garden section:nth-child(even) {
	background-color: #FAFAFA;
}

.case-study-link:hover {
	background-color: var(--fish-green);
}

module-showcase {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}
;
.case-study-link + module-showcase {
	margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {

	.layout-garden section:nth-child(even) {
	background-color: #1d1d1d;
	}

	.case-study-link {
		border: 2px solid var(--color-two);
		color: var(--color-two);
		&:hover {
			border: 2px solid var(--color-three);
			color: var(--color-three);
		}
	}
}