.layout-garden .module-showcase {
	padding-block: 5em;
}

.layout-garden .module-showcase:first-of-type {
	padding-top: 0;
}


.layout-divider  {
	grid-column: 1 / -1;
	transform: translateY(-10px);
	hr {
		width: 100%;
		border: none;
		background-color: var(--gray-shadow);
		height: var(--border);
		grid-column: 1 / -1;
		border-radius: var(--corners);
	}
}

case-study-wrapper {
	grid-column: 1 / -1;

	padding-block: 1rem;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.case-study-link {

		display: block;
		border-radius: 5px;
		max-width: 100px;
	}
}

.module-showcase {
	display: grid;
	grid-column: 1 / -1;

}

module-showcase {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	margin-top: 1em;
}

@media (prefers-color-scheme: dark) {

	.layout-garden section {
		background-color: var(--background-dark);
	}

	.case-study-link {
		color: var(--color-two);
	}
}