.layout-garden .module-showcase {
	padding-block: 5em;
}

.layout-divider  {
	grid-column: 1 / -1;
	transform: translateY(-10px);
	hr {
		width: 100%;
		border: none;
		background-color: var(--gray-shadow);
		height: var(--border);
		grid-column: 1 / -1;
		border-radius: var(--corners);
	}
}

case-study-wrapper {
	grid-column: 1 / -1;

	padding-block: 1rem;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.case-study-link {

		display: block;
		border-radius: 5px;
		max-width: 100px;
	}
}

.module-showcase {
	display: grid;
	grid-column: 1 / -1;

}

module-showcase {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	margin-top: 2em;
}
.case-study-link + module-showcase {
	margin-top: 1rem;
	min-width: 100px;

}

@media (prefers-color-scheme: dark) {

	.layout-garden section {
		background-color: var(--background-dark);
	}

	.case-study-link {
		border: 2px solid var(--color-two);
		color: var(--color-two);
		&:hover {
			border: 2px solid var(--color-three);
			color: var(--color-three);
		}
	}
}