.timeline {
	position: relative;
}

.first {
	padding-top: 1rem;
}

.timeline inner-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.timeline .last {
	border-bottom: none;
}

.timeline p, .timeline li {
	max-width: 50ch;
	font-weight: 300;
}

.timeline li, .influences li {
	padding-top: 1em;
	font-weight: 300;
}

.timeline li::before {
	content: '-';
	padding-right: 5px;
}

.timeline h3 {
	font-weight: 500;
}

work-narrative {
	display: block;
}

experience-gained {
	padding-bottom: 2rem;
	border-bottom: 4px dotted var(--fish-green);
}

@media (min-width: 775px) {

	.timeline inner-column {
		flex-direction: row;
		gap: 40px;
		border-bottom: 4px dotted var(--fish-green);
	}

	work-narrative, experience-gained {
		width: 50%;
	}

	experience-gained {
		padding-bottom: 0rem;
		border-bottom: none;
	}
}
