/* For horizontal scroll

.timeline {
	display: flex;
	overflow-x: scroll;
}

.timeline .section-grid {
	display: block;
}

.timeline .inner-grid {
	display: flex;
	flex-direction: column;
}*/

.timeline li + li {
	margin-top: 1em;
}

.timeline li::before {
	content: '•';
	padding-right: 5px;
}

.timeline h3 + ul {
	margin-top: 10px;
}

.timeline h3.strong-voice {
	font-size: 1.5rem;
	color: var(--color-two);
}

work-narrative {
	grid-column: 1 / -1;
	display: grid;
	max-width: 650px;
}

experience-gained {
	grid-column: 1 / -1;

	display: grid;
	border: 1px solid var(--color-three);
	border-radius: var(--corners);
	padding: 1em;
	max-width: 650px;
/*	& h3 {
		grid-column: 1 / -1;
	}
	& ul {
		grid-column: 2 / -2;
	}*/
}



work-narrative + experience-gained {
	margin-top: 1.5rem;
}

@media (min-width: 768px) {
	work-narrative, experience-gained {
		grid-column: 2 / 11;
	}
}

	