.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr) );
	gap: 15px;
 & .exercise {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
		font-size: 1.25rem;
		& a {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	& .calm-voice {
		color: var(--fish-green);
	}
}

.projects inner-column {
	padding-top: 1rem;
}

@media (prefers-color-scheme: dark) {
	.project-list .exercise {
		border: 1px solid var(--paper);
	}
}