
.day-2-grid > inner-column {
	display: contents;
}

.article-grid-2 {
	padding: 4rem 10px 1rem 10px;
}

.article-grid-2-cards {
	margin-top: 2rem;
}

.article-grid-2-cards {
	display: grid;
	gap: 1rem;
}

.article-grid-2-cards li {
	padding-inline: 10px;
	background-color: white;
}

headline-section {
	grid-column: 1 / -1;
}

headline-section > inner-column {
	display: block;
	background-color: #340A58;
	width: 100%;
}

article-section{
	background-color: #b6009c;
	display: block;
	width: 100%;
}

.day-2-grid headline {
	display: block;
	color: white;

	p {
		color: white;
	}
}

.day-2-grid-circle {
	fill: var(--color-two);
	max-width: 40px;
}

@media (min-width: 375px) {
	.day-2-grid p {
		max-width: 250px;
	}

	article-section{
		padding: 10px 10px 2rem 10px;
	}

	.article-grid-2-cards {
		margin-top: -45px;
	}

	.article-grid-2-cards li {
		padding-block: 10px;
	}
}

@media (min-width: 575px) {
	.article-grid-2-cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.day-2-grid {
		background-color: #121212;
	}

	.article-grid-2-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (prefers-color-scheme: dark) {

	headline-section > inner-column {
		background-color: #BE7DB5;
	}
	.day-2-grid case-study-wrapper {
		background-color: #121212;
	}
	headline-section {
		background-color: #121212;
	}
	.article-grid-2-cards li {
		background-color: #121212;
	}

	.day-2-grid-circle {
		fill: var(--color-primary);
	}
}

