.formatted-codepen {
	padding-block: 1.5em;
	grid-column: 1 / -1;

	display: grid;
	.codepen {
		border-radius: 10px;
	}
}

@media (min-width: 768px) {
	.formatted-codepen {
		grid-column: 2 / 12;
	}
}
