mast-head {
	display: block;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--paper-medium);
	box-shadow: 0 -6px 8px 3px rgba(0 0 0 / 0.5);
}

.site-header inner-column {
	padding-top: 5px;
	padding-bottom: 5px;
}

.site-header h1 {
	letter-spacing: .003em;	
}

svg {
	display: block;
	height: auto;
}

logo-container {
	grid-column: 1 / 9;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5rem;
}

.jeremy-logo {
	stroke-color: #36496d;
	max-width: 180px;
	& .bubble-1 {
		fill:rgb(190,125,180);
	}
	& .bubble-2 {
		fill:rgb(96,211,172)
	}
	& .bubble-3 {
		fill:rgb(233,153,75);
	}
}
/*.site-header nav ul {
	display: flex;
	flex-direction: row;
	gap: 2.5rem;
	justify-content: space-between;
}*/

.hamburger-btn {
	grid-column: 10 / -1;
	max-width: 100%;
	padding: 0;
	justify-self: end;
	background-color: transparent;
	box-shadow: none;
	stroke: var(--ink);
	border: unset;
}

.hamburger {
	max-width: 35px;
}

.fish-logo-solo {
	max-width: 35px;
	border-radius: 50%;
}

@media (min-width: 600px) {
	.hamburger-btn {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

@media (prefers-color-scheme: dark) {
	.site-header {
		color: var(--ink-light);
		background-color: var(--fish-blue);
	}

	.site-logo {
		filter: invert(100%);
	}

	.jeremy-logo {
		fill: var(--black);
		stroke: var(--black);
		& .bubble-1 {
			fill: #41824B; 
		}
		& .bubble-2 {
			fill: #9F2C53
		}
		& .bubble-3 {
			fill: #1666B4
		}
		.fish-body {
			fill: white;
		}
	}
}

