
/* RESET */

@import url('meyer-reset.css');
@import url('setup-reset.css');

/*SITE STRUCTURE*/

inner-column {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-inline: auto;
} 

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* THEME */

body {
	background: lavender;
}

.site-header {
}

.page-content {
}

.site-footer {
}

/*Typography*/

.whisper-voice {
	font-size: .625rem; /* 10px */
	font-family: sans-serif;
}

.quiet-voice {
	font-size: .75px; /* 12px */
	font-family: sans-serif;
}
.indoor-voice {
	font-size: 1rem; /* 16px */
	font-family: sans-serif;
}

.outdoor-voice {
	font-size: 1.5rem; /* 24px */
	font-family: sans-serif;
}

.loud-voice {
	font-size: 2rem; /* 32 px*/
	font-family: sans-serif;
}