

.death-and-design .common-figure.headline {
	grid-column: 1 / -1;
}

.death-and-design .common-figure {
	grid-column: 1 / -1;
}

.death-and-design .double-figure {
	grid-column: 1 / -1;
}

@media (min-width: 625px) {
	.headline {
		grid-column: 2 / 11;
	}
	
	.death-and-design .common-figure {
		grid-column: 2 / 11;
	}

	.death-and-design .double-figure {
		grid-column: 2 / 11;
	}
}
