.page-content.layout {
	margin-top: 1em;
}
.layout .case-study-paragraph {
	padding-block: 2rem;

}
.layout case-study-wrapper {
	grid-column: 1 / -1;
}

@media (prefers-color-scheme: dark) {
	.layout section:nth-child(1) {
		border-bottom: 2px solid white;
	}
}

