generic-text-heading {
	grid-column: 1 / -1;
	display: grid;
}

generic-text-heading li::before {
	content: '--';
	padding-right: 5px;
}

generic-text-heading p + ul {
	margin-top: 10px;
}

@media (min-width: 768px) {
	generic-text-heading {
		grid-column: 2 / 10;
	}

	.layout generic-text-heading {
		grid-column: 1 / -1;
	}
}

@media (min-width: 1400px) {
	generic-text-heading {
		grid-column: 2 / 9;
	}

	.layout generic-text-heading {
		grid-column: 1 / -1;
	}
}


.layout iframe {
	border-radius: var(--corners);
}