.page-header inner-column {
	padding: var(--mobile-padding);
	.logo {
	max-width: 80px;
	fill: var(--color);
	align-self: center;
	}
}

.about .page-header {
	background-color: var(--color);
	.logo {
		fill: var(--paper);
	}
}

.page-menu ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}


mast-head {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr .5fr;

}

.page-menu {
	grid-row: 2;
	grid-column: span 2;
}

login {
	grid-column: 2 / 3;
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

@media (min-width: 600px) {
	mast-head {
		display: flex;
		justify-content: space-between
	}

	login {
		grid-column: 3 / 4;
	}

	.page-menu {
		grid-column: 2 / 3;
		grid-row: 1;
		align-self: center;
		justify-self: center;
		& ul {
			gap: 30px;
		}
	}

@media (min-width: 900px) {
	.page-menu ul {
		gap: 40px;
	}
}


}