.media-video {
	min-height: 50vh;
}

.media-video inner-column {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.about video-heading .icon {
	max-width: 60px;
}

.media-link {
	color: var(--color);
	display: flex;
	gap: 10px;
	&::after {
		content: '➡︎'
	}
}

video-heading {
	display: grid;
	gap: 20px;
	& p{
		margin-top: 0;
	}
}

iframe {
	display: block;
	width: 100%;
}

@media (min-width: 575px) {
	video-heading {
		place-items: center;
	}

	iframe {
		margin-inline: auto;
		width: 50%;
	}

}

