footer {
	font-family: avenir, sans-serif;
	background-color: var(--sand-yellow)
}

footer inner-column {
	padding: 10px;
}

@media (prefers-color-scheme: dark) {
	footer {
		background-color: var(--sand-yellow);
	}
}