footer {
	margin-top: 2vh;
	border-top: 1px solid hsla(var(--hue), 0%, 85%, 0.5);
	background: linear-gradient(90deg, 
	 	#FAFAFA 60%,
        hsl(var(--primary), 59%, 60%) 60%, 
        hsl(var(--accent-two), 30%, 61%) 80%, 
        hsl(var(--accent-three), 76%, 60%) 100%
   );
}

footer inner-column {
	padding-top: 2em;
}

.updated-time {
	justify-self: start;
	grid-column: 1 / -1;
	padding-top: 1em;
}

@media (min-width: 490px) {
	.updated-time {
		justify-self: end;
	}

	.circle-graphic {
		grid-column: 11 / -1;
		max-width: 150px;
		margin-top: 0;
	}
}

@media (min-width: 1000px) {

	.circle-graphic {
		grid-column: 11 / -1;
		max-width: 200px;
		margin-top: 0;
	}
}

@media (prefers-color-scheme: dark) {
	footer {
		border-top: 1px solid hsla(var(--hue), 0%, 85%, 0.5);
		background: linear-gradient(90deg, 
			#121212 60%,
	     hsl(var(--primary), 59%, 60%) 60%, 
	     hsl(var(--accent-two), 30%, 61%) 80%, 
	     hsl(var(--accent-three), 76%, 60%) 100%
   );
	}
}
