footer {
	background-color: var(--paper-dark);
	box-shadow: 0 6px 8px 3px rgba(0 0 0 / 0.5);
}

.site-footer {
	margin-top: 10vh;
}

footer inner-column {
	padding-block: 20px;
}

.updated-time {
	padding-top: 1rem;
	justify-self: start;
	grid-column: 1 / -1;
}

@media (min-width: 490px) {
	.updated-time {
		justify-self: end;
	}
}

@media (prefers-color-scheme: dark) {
	footer {
		background-color: var(--background);
	}
}
