
.article-card {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;

}

article {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.article-card text-content {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.article-card a {
	margin-top: 20px;
}

.garden .article-card a {
	margin-top: 0;
}

.garden .article-card picture {
	aspect-ratio: 2:3;
	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.garden .article-card text-content {
	& h1 {
		margin-top: 10px;
	}
	& p {
		flex-grow: 1;

		margin-top: 5px;
	}
	& a {
		margin-top: 20px;
	}

}

.garden .article-card .button {
	display: flex;
	gap: 10px;
	color: var(--color);
	background-color: transparent;
	border: unset;
	padding: 0;
	min-width: 0;
/*	&::after {
		gap: 10px;
		content:'> >';
		transform: translateY(-1px);
	}*/
}



.garden .article-card .button:hover {
	content:'er';
	border: unset;
	padding: 0;

}
