
site-map {
	display: block;
	/*border: 4px solid green;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 25px;

	padding: 10vh 0vh 15vh 0vh;
}

site-map .logo {
	max-width: 130px;
	margin-bottom: 20px;
}

site-map .logo * {
	fill: var(--ink);
}

site-map h3 {
	margin-bottom: 20px;
}

.garden footer {
	background-color: var(--highlight);
}

.garden site-map ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.x-menu li {
	display: flex;
}

.x-menu li::before {
	content: '•';
	padding-inline: 2px;
	color: var(--color);
}

.garden site-map .plant-leaves * {
	fill: var(--color);
}

.garden site-map .plant-border * {
	stroke: var(--ink);
}

.garden site-map .logo {
	text-transform: none;
}

.garden footer nav a {
	color: var(--ink);
	text-decoration: 1px underline;
}

.garden footer nav a.company-email {
	color: var(--color);
	&:visited {
		color: var(--color);
	}
}

.garden footer nav a:visited {
	color: var(--ink-light);
}

.garden .social {
	display: flex;
	flex-direction: row;
	gap: 10px;
	& .social-icon {
		max-width: 30px;
	}
}


