recent-articles {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	& ol {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}
}

@media (min-width: 768px) {
	recent-articles {
		grid-column: 2 / -1;
}

@media (min-width: 1000px) {
	recent-articles {
		grid-column: 2 / 11;
}