.recent-articles {
	grid-column: 1 / -1;
	& ol {
		grid-column: 1 / -1;
		
		display: grid;
		gap: 2rem;
	}
}

@media (min-width: 490px) {
	.recent-articles {
		grid-column: 1 / 11;
	}
}

@media (min-width: 768px) {
	.recent-articles {
		grid-column: 2 / 11;
		& ol {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (min-width: 1000px) {
	.recent-articles {
		grid-column: 2 / 11;
	}
}