day-3-grid {
	grid-column: 1 / -1;
	display: grid;
}
.day-3-grid {
	& p, li {
		max-width: 100%;
	}
	& .headline-list {
		padding-top: 1.5rem;
	}
}


.day-3-grid details > summary {
	border-bottom: var(--border) solid black;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&::after {
		content:'➕';
		display: flex;
		align-items: center;
	}
}

.day-3-grid details[open] > summary::after {
	content: '➖';
}


.details-item:nth-child(2) {
	padding-top: .5em
}

.details-item + .details-item {
	padding-top: .5em;
}

.article-headline .small-heading {
	font-size: 1.25rem;
	font-family: "inconsolata";
	color: red;
}


@media (min-width: 500px) {
	.article-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
	}

	.article-grid .headline {
		grid-column: span 2;
	}

	.picture-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
		gap: 1rem;
	}
}

@media (min-width: 600px) {

	.details-item:nth-child(2) {
		padding-top: .25em;
	}

	.details-item + .details-item {
	padding-top: 1.25em;
	}
}

@media (min-width: 850px) {
	.headline-list {
		max-width: 300px;
		grid-column: 1 / 2;
	}

	.headline-group {
		grid-column: 2 / 5;
	}
}

@media (min-width: 1000px) {
	.day-3-grid module-showcase {
		display: flex;
	}

	.picture-grid {
		place-items: center;
		margin-top: 4rem;
	}
}


@media (prefers-color-scheme: dark) {
	.day-3-grid {
		background-color: var(--paper-black);
	}

	.day-3-grid details > summary {
		border-bottom: var(--border) solid var(--white);
	}
}
