.project-card {
	display: flex;
	flex-direction: column;
	padding: var(--container);
	background-color: var(--fish-blue);
	border-radius: var(--corners);
	& figure {
		padding: 0;
	}
	& h3 {
		margin-top: 10px;
	}
	& p {
		margin-top: 1em;
		flex-grow: 1;
	}
	& .read-more {
		margin-top: 2rem;
	}
	
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

/*@media (min-width: 800px) {
	project-card {
		flex-direction: row-reverse;
		& project-teaser {
			width: 60%;
		}
		& .common-figure {
			width: 50%;
		}
	}
}

@media (min-width: 1000px) {
	project-card {
		gap: 10px;
		flex-direction: row-reverse;
		& project-teaser {
			width: 60%;
		}
		& .common-figure {
			width: 40%;
		}
	}
}

*/