.error404 {
	grid-column: 1 / -1 ;
	margin-top: 1em;
	display: grid;
	grid-template-columns: subgrid;

	h1, p {
		grid-column: 1 / -1;
	}
}

@media (min-width: 768px) {
	.error404 h1 {
		grid-column: 1 / -1;
	}
	.error404 p {
		grid-column: 2 / -1;
	}
}

