code-block {

}

pre {
	overflow-x: scroll;
	background-color: black;
	margin-top: 1rem;
	padding: 15px;
	border-radius: 10px;
}

code {
	overflow-x: scroll;
	color: orange;
	font-family: monospace;
	font-weight: 500;
	font-size: 1.1rem;

}