.cta-overlap banner {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	place-items: center;
	border: 2px solid var(--color-primary);
	border-radius: 5px;
}

.cta-overlap .mambo-text {
	grid-column: 2 / 6;
	grid-row: 1;
	z-index: 1;
	font-size: clamp(20px, 5vw, 48px);
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	color: var(--color-primary);
}

.cta-overlap h3 {
	grid-column: 3 / 5;
	grid-row: 1;
	font-size: 12rem;
	opacity: .05;
	font-family: "Fredoka", sans-serif;
	color: var(--ink);
}

@media (prefers-color-scheme: dark) {
	section.page-content.layout .cta-overlap {
		background-color: #FBF7F5;
	}

	.cta-overlap h3 {
		color: hsla(var(--accent-two), 59%, 60%, 0.5);
		opacity: .2;
	}

}




