.faq faq-content{
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

faq-info {
	display: block;
	text-align: center;
}

.contact faq-info {
	text-align: unset;
}

.question-list {
	display: grid;
	gap: 10px;
}

.home details > summary, 
.contact details > summary {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&::after {
		content:'>';
		color: var(--ink-light);
	}
}

.home details[open] > summary::after,
.contact details[open] > summary::after,{
	content: '∧';
	color: var(--ink-light);
}

.about details > summary {
	display: flex;
	gap: 10px;
	cursor: pointer;
	&::before {
		content:'+';
		color: var(--color);
	}
}

.about details[open] > summary::before {
	content: '−';
	color: var(--color);
}

details[open] > p  {
	margin-top: 1em;
}

.about details[open] > p {
	border-left: 2px solid var(--color);
	margin-left: 2em;
	padding-inline: 1em;

}

.details-item {
	border-bottom: 1px solid var(--ink-light-opaque);
	padding: 1em;
}

@media (min-width: 575px) {
	.faq inner-column {
		justify-content: center;
		align-items: center;
	}

	faq-info {
		width: 70%;
	}

	.question-list {
		width: 100%;
	}

	.contact faq-content {
	flex-direction: row;
	justify-content: stretch;
	& .question-list {
		width: 100%;
	}
}
