
form {
	padding: 2rem 0rem;
	font-family: avenir, sans-serif;
	max-width: 400px;
}

field {
	display: grid;
	gap: 4px;
}

label {
	font-size: .9rem;
}

field + field {
	margin-top: 1rem;
}

input, select {
	padding: .5em;
	font-size: 1.1rem;
	width: 100%;
}

button {
	margin-top: 1rem;
	padding: .25em .5em;
	font-size: 1.5rem;
	font-weight: 500;
	background-color: hsl(var(--pet-purple) 21% 32% / .2);
	border: 2px solid hsl(var(--pet-purple), 21%, 32%);
	color: hsl(var(--pet-purple), 21%, 32%);
	border-radius: 5%;
}

button:hover {
	background-color: hsl(var(--hue) 20% 74%);
}

textarea {
	padding: .5em;
	font-size: 1rem;
	max-width: 400px;
	font-family: avenir, sans-serif;
}

.error {
	color: var(--link-orange);
}

.success {
 color: hsl(var(--hue) 20% 50%);
 font-weight: 500;
 font-size: 1.25rem;
}