nav ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
	flex-wrap: wrap;
}

nav a {
	color: hsl(var(--pet-purple), 21%, 32%);
}

a:visited {
	text-decoration: underline;
	color: var(--link-orange);
}

.active {
	border-top: 2px solid hsl(var(--pet-purple) 21% 32% / .2);
	border-bottom: 2px solid hsl(var(--pet-purple) 21% 32% / .2);
}