
/* RESET */

@import url('meyer-reset.css');
@import url('setup-reset.css');
@import url('nav.css');
@import url('forms.css');
@import url('typography.css');
@import url('tea-pet-store.css');
@import url('care.css');
@import url('contact.css');
@import url('home.css');


/*SITE STRUCTURE*/

:root {
	--hue: 100;
	--pet-purple: 351;
	--link-orange: #C37200;
}

inner-column {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-inline: auto;
	padding: 1.5rem 1rem;
} 

picture {
	display: block;
	border-radius: 5%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

header {
	background-color: hsl(var(--hue) 20% 74%);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

.site-footer inner-column {
	padding-block: 10px;
}

footer {
	background-color: hsl(var(--hue) 20% 54%);
}

/*home*/

.home {
	display: block;
	background-size: cover;
	background-image: url('../images/smile-tea-pet.jpg');
	background-position: center;
	min-height: 100vh;
}


@media(min-width: 500px) {
	.detail-picture {
		max-width: 500px;
	}

}

@media(min-width: 600px) {
	.item-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}