
/* RESET */

@import url('meyer-reset.css');
@import url('setup-reset.css');

/*SITE STRUCTURE*/

:root {
	--hue: 100;
	--pet-purple: #644146;
	--link-orange: #C37200;
}

inner-column {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-inline: auto;
	padding: 1.5rem 1rem;
} 

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

header {
	background-color: hsl(var(--hue) 20% 74%);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

.site-footer inner-column {
	padding-block: 10px;

}

footer {
	background-color: hsl(var(--hue) 20% 54%);
}

/*home*/

text-container {
	display: block;
	background-image: url('../images/smile-tea-pet.jpg');
	background-size: cover;
	background-postion: center;
	min-height: 90vh;
}

.title {
	font-size: 4rem;
	font-family: avenir, san-serif;
	color: var(--pet-purple);
}

/*nav*/

nav ul {
	display: flex;
	gap: 30px;
}

nav a {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
	color: var(--link-orange);
}

/* shop */
.item-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.preview-details {
	margin-top: 4px;
	display: flex;
	justify-content: space-between;
}

.detail-picture ul {
	display: grid;
	gap: .5rem;
}
/* detail */

item-snapshot picture {
	max-width: 500px;
}

item-details {
	font-family: avenir, sans-serif;
	line-height: 1.4;
}

item-details .pet-name {
	font-size: 2rem;
}

.pet-name {
	font-weight: 600;
}

.description {
	margin-top: 10px;
}

.price {
	font-weight: 500;
	margin-top: 5px;
	font-size: 1.5rem;
}

.buy {
	margin-top: 1rem;
	font-size: 1.25rem;
	background-color: hsl(var(--hue) 20% 74%);
	max-width: 100px;
	text-align: center;
	font-weight: 500;
}

extra-details {
	display: block;
	margin-top: 2rem;
}


/* contact */


address {
	margin-top: 1rem;
	font-size: 1.125rem;
	font-family: avenir;
}



/*Typography*/

.warning {
	font-weight: 600;
}

ul > li {
	font-family: avenir, sans-serif;
}

p {
	line-height: 1.4;
	max-width: 75ch;
	font-family: avenir, sans-serif;
}

p + p {
	margin-top: 1rem;
}

h2 + p {
	margin-top: 1.25rem;
}

.whisper-voice {
	font-size: .625rem; /* 10px */
	font-family: avenir, sans-serif;
}

.quiet-voice {
	font-size: .75px; /* 12px */
	font-family: avenir, sans-serif;
}
.indoor-voice {
	font-size: 1rem; /* 16px */
	font-family: avenir, sans-serif;
}

.outdoor-voice {
	font-size: 1.5rem; /* 24px */
	font-family: avenir, sans-serif;
}

.loud-voice {
	font-size: 2rem; /* 32 px*/
	font-family: avenir, sans-serif;
}

/* media */

@media(min-width: 375px) {
	.details {
		display: grid;
		grid-template-columns: .75fr 1fr;
		gap: 2rem;
		max-width: px;
}

}