
.warning {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

ul > li, cart a{
	font-family: avenir, sans-serif;
}

p {
	line-height: 1.4;
	max-width: 70ch;
	font-family: avenir, sans-serif;
}

p + p {
	margin-top: 1rem;
}

h2 + p {
	margin-top: 1.25rem;
}

.whisper-voice {
	font-size: .625rem; /* 10px */
	font-family: avenir, sans-serif;
}

.quiet-voice {
	font-size: .75px; /* 12px */
	font-family: avenir, sans-serif;
}
.indoor-voice {
	font-size: 1rem; /* 16px */
	font-family: avenir, sans-serif;
}

.outdoor-voice {
	font-size: 1.5rem; /* 24px */
	font-family: avenir, sans-serif;
}

.loud-voice {
	font-size: 3rem; /* 32 px*/
	font-family: avenir, sans-serif;
	padding-block: .25em;
	color: hsl(var(--pet-purple), 21%, 32%);
	text-shadow: var(--link-orange) 1px 1px 1px;

}