.exercise form {
	box-shadow: none;
	border: 1px solid var(--color-three);
}

.form-group form-explanation, .form-group form-section, .form-output output {
		grid-column: 1 / 11;
		max-width: 70ch;
}

.form-group form-explanation {
	grid-column: 1 / 11;
	display: grid;
	grid-template-columns: subgrid;
	& h2 {
			display: grid;
			grid-column: 1 / 11;
	}
	& p {
		display: grid;
		grid-column: 1 / 11;
	}
}

@media (min-width: 490px) {
	.form-group form-explanation, .form-group form-section, .form-output output {
		grid-column: 1 / 11;
	}
}

@media (min-width: 768px) {
	.form-group form-explanation {
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: subgrid;
			& h2 {
				display: grid;
				grid-column: 1 / 11;
			}
			& p {
				display: grid;
				grid-column: 2 / 11;
			}
		}
	}
	.exercise form {
		grid-column: 2 / 11;
		display: grid;
	}

@media (min-width: 1000px) {
	form-explanation, form-section, output {
		grid-column: 2 / 10;
}