
.article-grid .headline {
	padding-block: 2.5rem;
	border-top: none;
}

.article-grid li {
	padding-top: 1rem;
	border-top: 1px solid black;
}

.article-grid {
	display: grid;
	gap: 1rem;
}

.picture-grid {
	display: grid;
	gap: 1rem;
}

.day-1-grid module-showcase{
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.picture-grid li picture{
	background-image: url('https://peprojects.dev/images/portrait.jpg');
	background-size: cover;
}

@media (min-width: 500px) {
	.article-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
	}

	.article-grid .headline {
		grid-column: span 2;
	}

	.picture-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
		gap: 1rem;
	}
}

@media (min-width: 1000px) {
	.day-1-grid module-showcase {
		display: flex;
	}

	.picture-grid {
		place-items: center;
		margin-top: 4rem;
	}
}