/* could we pull in @fonts here? */

.attention-voice	{
	font-family: Inter, sans-serif;
	font-size: 30px;
}

.strong-attention-voice {
	font-family: Inter, sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.small-heading-voice {
	font-family: Inter, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
}

.strong-voice	{
	font-family: Inter, sans-serif;
	font-size:  1rem;
	color: var(--ink);
}

.calm-voice, p, li {
	font-family: Inter, sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	color: var(--ink-light);
}

.button-voice {
	font-family: Inter, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 300;
}

.link-voice, .quiet-voice {
	font-family: Inter, sans-serif;
	font-size: .8rem;
	color: var(--ink-light);
}

.link-voice:hover {
	color: var(--color);
	font-weight: 700;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

.active {
	color: var(--color);
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 1.25em;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
