
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	padding: 20vh 0;
}

graphic-diptych p {
	margin-top: 20px;
}

/*.garden .welcome {
	background-image: url('../../images/background/garden-diptych.jpg');
	background-size: cover;
	background-position: center;
}*/


/*.garden .welcome inner-column {
	width: 100%;
	max-width: 100%;
}*/

.garden graphic-diptych {
	flex-direction: column;
	align-items: center;
	padding: 1vh 0vw 5vh 0vw;
	position: relative;
}


.garden graphic-diptych picture {
	aspect-ratio: 16 / 9;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
} 

.garden graphic-diptych text-content {
	position: relative;
	margin-top: 5vh;
	padding-block-end: 5vh;
}

.garden graphic-diptych text-content:after {
	content: '';
	position: absolute;
	width: 65%;
	right: 0;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid var(--color);
	transform: translateX(25%);
}

.garden graphic-diptych p {
	margin-top: 15px;
}


@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}

@media (min-width: 750px) {
	.garden graphic-diptych {
		padding-bottom: 10vh;
	}
}
