
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	padding: 20vh 0;
}

graphic-diptych p {
	margin-top: 20px;
}

/*.garden .welcome {
	background-image: url('../../images/background/garden-diptych.jpg');
	background-size: cover;
	background-position: center;
}*/


/*.garden .welcome inner-column {
	width: 100%;
	max-width: 100%;
}*/

.garden graphic-diptych {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	padding: 1vh 0vh 5vh 0vh;
}


.garden graphic-diptych picture {
	aspect-ratio: 16 / 9;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
} 

.garden graphic-diptych text-content {
	display: block;
	margin-top: 5vh;
	padding-block-end: 10vh;
}

.garden graphic-diptych text-content::after {
	content: '';
	display: block;
	background-image: url('../plant-border.svg');
	position: absolute;
	width: 162px;
	height: 25px;
	margin-top: 4vh;

}

.garden graphic-diptych p {
	margin-top: 15px;
	max-width: 70ch;
}


@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}

@media (min-width: 750px) {

	.garden graphic-diptych {
		padding: 0vh 0vh 5vh 0vh;
	}

	.garden graphic-diptych p {
		max-width: 100ch;
	}
}
