
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20vh 0;
}

graphic-diptych p {
	margin-top: 20px;
}

/*.garden .welcome {
	background-image: url('../../images/background/garden-diptych.jpg');
	background-size: cover;
	background-position: center;
}*/

.garden .welcome {
}

.garden .welcome inner-column {
	width: 100%;
	max-width: 100%;
}

.garden graphic-diptych {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 1vh 0 10vh 0;
}


}


@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}

@media (min-width: 750px) {
	.garden graphic-diptych {
		padding: 0vh 0 10vh 0;
	}
}
