.key-takeaways {
	display: grid;
	grid-column: 1 / -1;

	.points {
		display: grid;
		gap: 16px;
	}
}

details > summary {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&::after {
		content:'➕';
		display: flex;
		align-items: center;
	}
}

details[open] > summary::after {
	content: '➖';
}

@media (prefers-color-scheme: dark) {
	details > summary {
		border-bottom: 1px solid var(--paper);
	}
}

@media (min-width: 768px) {
	.key-takeaways{
		grid-column: 2 / 10;
	}
}

@media (min-width: 1400px) {
	.key-takeaways {
		grid-column: 2 / 10;
	}
}