.key-takeaways {
	display: grid;
	grid-column: 1 / -1;

	.points {
		display: grid;
		gap: 16px;
	}
}

details > summary {
	border-bottom: var(--border) solid var(--color-three);
	font-family: "Noto Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&::after {
		content:'➕';
		display: flex;
		align-items: center;
	}
}

details[open] > summary::after {
	content: '➖';
}

@media (prefers-color-scheme: dark) {
	details > summary {
		border-bottom: 3px solid var(--color-three);
	}
}

@media (min-width: 768px) {
	.key-takeaways{
		grid-column: 2 / 10;
	}
}

@media (min-width: 1400px) {
	.key-takeaways {
		grid-column: 2 / 10;
	}
}