key-takeaways {
	grid-column: 1 / -1;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.key-takeaways {
	overflow-y: scroll;
}

details > summary {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&::after {
		content:'➕';
		display: flex;
		align-items: center;
	}
}

.key-takeaways details {
	margin-top: 1em;
}

details[open] > summary::after {
	content: '➖';
}

@media (prefers-color-scheme: dark) {
	details > summary {
		border-bottom: 1px solid var(--fish-pink);
	}
}

@media (min-width: 768px) {
	key-takeaways{
		grid-column: 2 / 10;
	}
}

@media (min-width: 1400px) {
	key-takeaways {
		grid-column: 2 / 10;
	}
}