.fly-fishing-grid ul {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	place-items: center;
}

.fishing-title {
	grid-column: 7 / 8;
}

.fly-fishing-grid li {
	border-bottom: 1px solid rgba(0 0 0 / .2);
	padding: 20px 10px;
}

.fly-fishing-grid li:last-child {
	border-bottom: none;
}

.fly-fishing-grid h2 {
	font-size: .85rem;
	text-transform: uppercase;
	font-family: Overpass, sans-serif;
	text-align: center;
	opacity: .8;
	color: var(--ink);
}

@media (prefers-color-scheme: dark) {
	section.page-content.layout .fly-fishing-grid {
	background-color: #FBF7F5;
	}

	.fly-fishing-grid h2{
		color: black;
	}
}