.goals-list{
	grid-column: 1 / -1;

	display: grid;
	gap: 30px;
}
.goals-list li {
	padding: 3rem;
	border-radius: var(--corners);
}

.goals-list li:nth-child(1) {
	background-color: var(--fish-pink);
}

.goals-list li:nth-child(2) {
	background-color: var(--fish-blue);
}

.goals-list li:nth-child(3) {
	background-color: var(--fish-green);
}

.goals-list li:nth-child(4) {
	background-color: var(--sand-yellow);
}

@media (orientation: landscape) {
	.goals-list {
		grid-column: 2 / -1;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.goals-list {
		grid-column: 2 / -1;
		grid-template-columns: repeat(2, 1fr);
	}
}


