.graphic-diptych inner-column {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
cta-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.graphic-diptych p {
	padding-top: 1rem;
}

.graphic-diptych .cta-button {
	max-width: 175px;
	margin-top: 1.5rem;
	background-color: #296BE5;
	color: white;
}

.graphic-diptych .cta-button:hover {
	max-width: 175px;
	margin-top: 1.5rem;
	background-color: white;
	color: #296BE5;
}

.graphic-diptych picture img {
	border-radius: 10px;
}



