

.graphic-diptych .diptych-wrapper {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 15px;
	picture {
		max-width: 500px;
	}
}


cta-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.graphic-diptych .cycle-btn.escape {
	max-width: 175px;
	margin-top: 1.5rem;
}

.graphic-diptych .cta-button:hover {
	max-width: 175px;
	margin-top: 1.5rem;
	background-color: white;
	border: 1px solid var(--color-two);
	color: var(--color-two);
}

@media (min-width: 810px) {

	.graphic-diptych .diptych-wrapper {
		flex-direction: row-reverse;
		gap: 35px;

		picture {
			max-width: 500px;
		}
	}

	cta-text {
		align-items: flex-start;
	}
}



