	.layout-garden .graphic-diptych inner-column {
		background-color: #58A6FB;
	}

.graphic-diptych module-showcase {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

cta-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.graphic-diptych .cta-button {
	max-width: 175px;
	margin-top: 1.5rem;
	background-color: #296BE5;
	color: white;
}

.graphic-diptych .cta-button:hover {
	max-width: 175px;
	margin-top: 1.5rem;
	background-color: white;
	border: 1px solid #296BE5;
	color: #296BE5;
}

.graphic-diptych picture {
	border: 1px solid #170D7C;
}

@media (min-width: 810px) {

	.graphic-diptych module-showcase {
		flex-direction: row-reverse;
	}

	cta-text {
		width: 50%;
	}

	.graphic-diptych picture {
		width: 80%;
	}
}

@media(prefers-color-scheme: dark) {
	.layout-garden .graphic-diptych inner-column {
		background-color: #000034;
	}
}



