.search {
	display: grid;
	flex-direction: column;
}

.tour-results {
	margin-top: 0;
}

.tour-card {
	display: grid;
	padding: 16px;
	border: 1px solid var(--color-primary);
	border-radius: 10px;
	& figure {
		& p {
			font-size: .9em;
			color: var(--color-secondary);
		}
	}
	& h2 {
		margin-top: 8px;
	}
	& h3 {
		margin-top: 4px;
	}
	& button {
		margin-top: 16px;
	}
	& .tour-price {
		margin-top: 0;
	}
	& p {
		margin-top: 8px;
	}
}

/*.tour-dates {
	display: flex;
	flex-wrap: wrap;
}*/