@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;700&display=swap');

.announcement-card date-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;

}
.time-banner {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 500;
	padding-inline: 2rem;
	padding-block: 1rem;
	text-transform: uppercase;
	font-family: "Fredoka", sans-serif;
}

.day {
	background-color: var(--color-two-dark);
	color: white;
	overflow: hidden;

}

.date {
	background-color: var(--color-two);
	color: var(--color-two-dark);
}

.announcement-card {
	border: 2px solid #D2A6D9;
	border-radius: 5px;
	overflow: hidden;
}

card-info {
	display: block;
	padding: 15px;

	p {
		margin-top: .5em;
	}
}

showtime {
	display: flex;
	margin-top: 1.5em;
	align-items: center;
	font-family: "inconsolata";
	font-size: 1rem;
	font-weight: 700;
	gap: 10px;
}

.clock {
	max-width: 30px;
}