.testimonials testimonial-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	& p {
		margin-top: 0;
	}
	gap: 25px;
}

.contact quote-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.contact .client-quotes {
	width: 50%;
}

.contact quote-wrapper picture {
	width: 50%;
}

.client-quotes {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1.5rem;
}

.client-quote-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 35ch;
	gap: 20px;
}

.ratings {
	display: flex;
	gap: 5px;
}

.about .client-quote-item {
	max-width: 100%;
	& > p {
		font-size: clamp(20px, 5vw, 40px);
	}
}

.contact .client-quote-item > p {
		font-size: clamp(20px, 3vw, 32px);
}

employee-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	& .employee-name {
		font-size: 18px;
	}
	& .employee-info-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 5px;
		& p {
			margin-top: 0;
		}
	}
}


.about employee-info {
	flex-direction: row;
}

@media (min-width: 700px) {
	.home .client-quotes, .about .client-quotes {
	flex-direction: row;
	&::before {
		content:'⟨';
		margin-block: auto;
		padding-inline: 1rem;
		font-size: 2rem;

	}
	&::after {
		content:'⟩';
		margin-block: auto;
		font-size: 2rem;
		padding-inline: 1rem;
	}
}

.contact .employee-info-wrapper {
	flex-direction: row;
	align-items: center;
	& .employee-name {
		font-size: .9rem;
		font-weight: 500;
	}
}

}