/* For horizontal scroll

.resume {
	display: flex;
	overflow-x: scroll;
}

.resume .section-grid {
	display: block;
}

.resume .inner-grid {
	display: flex;
	flex-direction: column;
}*/

// .timeline-grid {
// 	display: grid;
// }

@media(width < 600px), (height < 700px) {

	.timeline-wrapper {
		display: flex;
		flex-direction: column-reverse;
		.common-figure {
			max-width: 600px;
		}

		li {
			padding: 1em;
		}
	}

	.section-flex .inner-flex {
		display: flex;
		border-radius: var(--corners);
	}

	.section-flex + .section-flex {
		margin-top: 2em;	
	}

	.resume h3 + ul {
		margin-top: 10px;
	}

	.resume h3.strong-voice {
		font-size: 1.5rem;
		color: var(--color-two);
	}
}


@media (min-width: 600px) {
	.timeline-wrapper {
		display: flex;
		flex-direction: row-reverse;
		overflow-x: auto;
		gap: 2em;
		padding-inline: 1em;

		li {
			max-width: 500px;
		}

		.section-flex {
			flex: 0 0 auto;
		}

		.inner-flex {
			display: flex;
			gap: 1em;
		}
	}

	.section-flex + .section-flex {
		margin-top: 0;	
	}
}

@media (min-width: 768px) {
	.timeline-wrapper {
		grid-column: 2 / -1;

		.section-flex {
			flex: 0 0 auto;
		}
	}
}


@media (min-width: 1200px) {
	.timeline-wrapper {
		.common-figure {
			max-width: 800px;
		}
	}
}


