/* For horizontal scroll

.resume {
	display: flex;
	overflow-x: scroll;
}

.resume .section-grid {
	display: block;
}

.resume .inner-grid {
	display: flex;
	flex-direction: column;
}*/

.timeline-wrapper {
	display: flex;
	overflow-x: auto;

	.section-flex {
    	flex: 0 0 auto;
    	width: 100%;
	}

	.inner-flex {
		display: flex;
		align-items: center;
	}

	.common-figure {
		max-width: 500px;
	}
}

.resume h3 + ul {
	margin-top: 10px;
}

.resume h3.strong-voice {
	font-size: 1.5rem;
	color: var(--color-two);
}

@media (min-width: 768px) {
	.timeline-wrapper {
		grid-column: 2 / -1;
	}
}

@media (orientation: landscape) {
	.timeline-wrapper {
		grid-column: 2 / -1;
	}
}
