
.related-articles {
	grid-column: 1 / -1;
	display: grid;
/*		display: flex;
		flex-direction: column;*/
	gap: 4rem;
	margin-top: 1.5em;

	h2 {
		grid-column: 1 / -1;
	}
}

.work-detail h2 {
	grid-column: 1 / -1;
}

@media (min-width: 600px) {
	.related-articles {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem 1rem;
	}
}

@media (min-width: 768px) {
	h2.related-title {
		grid-column: 2 / 11;
	}
	.related-articles {
		grid-column: 2 / 11;
	}
}

@media (min-width: 1000px) {
	.related-articles {
		grid-column: 2 / 11;
	}
}