
.related-articles {
	grid-column: 1 / -1;
	display: grid;
/*		display: flex;
		flex-direction: column;*/
	gap: 2rem 1rem;
	margin-top: 4rem;
}

.work-detail h2 {
	grid-column: 1 / -1;
}

@media (min-width: 490px) {
	.related-articles {
		grid-column: 1 / 12;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.related-articles {
		grid-column: 2 / 12;
	}
}

@media (min-width: 1000px) {
	.related-articles {
		grid-column: 2 / 12;
	}
}