product-details .category {
	font-weight: 500;
	opacity: .5;
	font-size: .75rem;
	text-transform: none;
	font-family: "Noto Sans", sans-serif;
}

product-details {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-name .product-link {
	text-decoration: none;
	font-weight: 600;
	font-family: "Noto Sans", sans-serif;

}

.product-name a:hover {
	text-decoration: underline;
}

.price-text {
	display: flex;
	align-items: center;
	gap: 2px;
	font-family: "inconsolata", sans-serif;
	font-size: 16px;
	margin-top: 0;
	padding-top: 0;

}

.price-text::before {
	content: '$';
}

.fly-fish-btn {
	padding: 5px 20px;
	border-radius: 50px;
	border: 1px solid black;
	background: white;
	margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
	.product-name .product-link{
		color: var(--white);
	}

	product-details .category {
		color: var(--color-two);
		opacity: 1;
	}
}

@media (min-width: 802px) {
	.fly-fishing-grid li {
		border-bottom: none;
	}

	.fly-fishing-grid li:first-child {
		border-left: none;
	}

	.fly-fishing-grid li {
		padding-inline: 20px;
	}
}

@media (min-width: 945px) {
	.fly-fishing-grid li {
	border-left: 1px solid rgba(0 0 0 / .2);
	}
}

