
form {
	display: grid;
	gap: 20px;
	max-width: 500px;
}

form-section {
	display: grid;
}

form-section inner-column {
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}

label + input {
	margin-top: 4px;
}

action-buttons {
	display: flex;
	gap: 20px;
}

input:focus {
	background: rgb(0 0 0 / 5%);
}

.refresh {
	text-decoration: none;
	font-size: 2rem;
	font-family: Avenir;
	color: black;
}

form-explanation h2, form h2, label, input, .form-output h2 {
	font-family: "Avenir", sans-serif;
}

label {
	font-size: .9rem;
	align-self: center;
}

input {
	padding: .5em;
	font-size: 1rem;
	font-weight: 300;
}

form-explanation h2, .form-output h2, form h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

h2.form-title {
	font-weight: 400;
}

.word-assist {
	text-decoration: dotted underline;
}

.field {
	display: grid;
	gap: 5px;
}


output{
	display: block;
	max-width: 65ch;
}

/* Exercise 3 - Printing Quotes */
h2 + blockquote {
	padding-top: 1rem;
}

blockquote {
	font-size: 20px;
	font-family: "Apple Chancery", serf;
}

/* Exercise 4 - Mad Libs */
.mad-libs-color {
	color: var(--fish-green);
	font-weight: 600;
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	.form-title .refresh {
		color: var(--ink-light);
	}
}
