
mast-head {
	display: block;
}

mast-head .logo {
	max-width: 140px;
}

mast-head .logo * {
	fill: var(--ink);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

mast-head nav .home {
	padding: 10px 0;
}

mast-head nav a:not(.home) {
	padding: .5em 1em;
	letter-spacing: .03em;
	font-size: 14px;
}

.garden mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.garden mast-head .logo {
	max-width: 100px;
	min-width: 80px;
}

.garden mast-head .plant-leaves * {
	fill: var(--color);
}

.garden mast-head .border * {
	fill: var(--accent);
}

.garden .user-menu li {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.garden .user-menu .theme-link {
	display: none;
}

.garden .user-menu .button {
	position: relative;
	color: var(--paper);
	&:visited {
		color: var(--paper);
	}
	&:hover {
		color: var(--color);
	}
}

.garden .button-link .button.leaf-sign {
	display: flex;
	flex-direction: row;
	padding: 0.25em .5em;
	gap: 5px;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	& p.calm-voice {
		font-size: 12px;
		color: var(--paper);
	}
}

.garden .button-link .button.leaf-sign:hover p.calm-voice {
	color: var(--color);
}

.garden .button-link .button.leaf-sign:hover .leaf-icon {
	stroke: var(--color);
}

.garden .menu-toggle button {
	font-family: "Source Sans 3", sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .03em;
	border: 0;
	cursor: pointer;
	color: var(--color);
	box-shadow: unset;
	background: unset;
	padding: .25em .5em;
	&:visited {
		color: var(--accent);
	}
}
.garden .leaf-icon {
	fill: none;
	stroke: var(--paper);
	max-width: 15px;
	height: 15px;
}

.garden .leaf-icon:hover {
	stroke: var(--color);
}

.garden mast-head nav a:not(.home) {
	text-transform: uppercase;
	color: var(--color);
}

.garden mast-head nav a:not(.home, .button):visited {
	color: var(--accent);
}

@media (min-width: 650px){
	.garden .user-menu .theme-link {
		display: block;
	}

	.garden .user-menu .menu-toggle{
		display: none;
	}
}
