
.page-header h1 {
	grid-column: 1 / -1;
}

.page-header p {
	grid-column: 1 / -1;
}

@media (min-width: 768px) {
	.page-header p {
		grid-column: 2 / -1;
	}
}

@media (orientation: landscape) {
	.page-header p {
		grid-column: 2 / -1;
	}
}
