.related-articles-list h2 + ol {
	margin-top: 1em;
}

.card {
	padding: var(--container);
	background-color: var(--fish-blue);
	border-radius: var(--corners);
	display: flex;
	flex-direction: column;
	& p {
		margin-top: 1em;
		flex-grow: 1;
	}
	& time {
		text-transform: uppercase;
	}
	& .read-more {
		margin-top: 2rem;
	}
}

.work-picture {
	& img {
			border-radius: var(--corners);
			height: 100%;
	}
}

/*@media (min-width: 768px) {
	article-card {
		flex-direction: row-reverse;
		& article-teaser {
			width: 60%;
		}
		& .work-picture {
			width: 50%;
		}
	}
}

@media (min-width: 1000px) {
	article-card {
		gap: 10px;
		flex-direction: row-reverse;
		& article-teaser {
			width: 60%;
		}
		& .work-picture {
			width: 40%;
		}
	}
}*/

