.related-articles-list h2 + ol {
	margin-top: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: flex-start;
	border-radius: var(--corners);
	padding: 1em;
	background-color: var(--paper-dark);
	box-shadow: var(--shadow);
	border: 1px solid black;
	& .text-area {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		& p {
			flex-grow: 1;

			margin-top: 1em;
		}
	}
	& time {
		text-transform: uppercase;
	}
}

.work-picture {
	& img {
			border-radius: var(--corners);
			height: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.card {
		background-color: var(--background-light);
	}
}

/*@media (min-width: 768px) {
	article-card {
		flex-direction: row-reverse;
		& article-teaser {
			width: 60%;
		}
		& .work-picture {
			width: 50%;
		}
	}
}

@media (min-width: 1000px) {
	article-card {
		gap: 10px;
		flex-direction: row-reverse;
		& article-teaser {
			width: 60%;
		}
		& .work-picture {
			width: 40%;
		}
	}
}*/

