.common-figure {
	display: flex;
	flex-direction: column;
	padding-block: 1rem 1.5rem;
}

figcaption {
	display: block;
}

.common-figure{
	width: 100%;
}

.headline {
	max-width: 100%;
	padding-bottom: 4em;
}

.exploration .common-figure {
	padding-block: 1.5rem 2rem;
}

@media (min-width: 768) {
	.common-figure, .headline {
		max-width: 700px;
	}
}