.site-header nav {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.open-menu .site-header nav {
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #172B5A;
	clip: auto;
	clip-path: none;
	height: auto;
	overflow: visible;
	width: auto;
	& .user-menu {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 15px;
		height: 100vh;
		width: 100vw;
	}
}

@media (min-width: 490px) {
	logo-container {
		grid-column: 1 / 6;
	}
	.site-header nav {
		grid-column: 8 / -1;
		align-self: center;
		justify-self: end;
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		width: auto;
		position: static;
		& .user-menu {
			display: flex;
			gap: 15px;
		}
	}
}



