//dim background and make it unclickable

/* 
	body.menu-open::before {
     content: "";
     position: fixed;
     top: 0;
	 left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     z-index: 1;
     pointer-event: none;
 }

*/

// body.menu-open {
// 	overflow: hidden;
// }

.site-header .user-menu {
	position: absolute;
	left: -300px; /* calc(5% + -225px) */
	top: 0px;
	transition: all .2s ease-out;
	opacity: 0;
	height: 100vh;
	padding: 14vw;
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: var(--paper-medium);
	& button {
		display: none;
	}
}

.site-header .user-menu.small-menu-open button {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	border: unset;
	background-color: var(--paper-medium);
	cursor: pointer;
	font-size: 1rem;
}

.site-header .user-menu.small-menu-open{
	display: flex;
	flex-direction: column;
	left: 0;
	width: 100%;
	z-index: 2;
	opacity: 1;
	gap: 30px;
	background-color: var(--paper-medium);
	border-top-right-radius: var(--corners);
	border-bottom-right-radius: var(--corners);
	box-shadow: var(--shadow);
	& li {
	font-size: 1.5rem;
	}

}

@media (min-width: 600px) {
	logo-container {
		grid-column: 1 / 6;
	}
	.site-header nav {
		grid-column: 8 / -1;
		align-self: center;
		justify-self: end;
		transform: translate(0px);
		& .user-menu {
			transition: none;
			position: static;
			flex-direction: row;
			gap: 25px;
			font-family: "Fredoka";
			padding: 0;
			opacity: 1;
			height: auto;
		}
	}
}

@media (min-width: 700px) {
	.site-header nav .user-menu {
		gap: 35px;
	}
}

@media (min-width: 1440px) {
	.site-header nav .user-menu {
		gap: 45px;
	}
}

@media (prefers-color-scheme: dark) {
	.site-header .user-menu.small-menu-open {
		background-color: var(--background-light);
		& button {
			background-color: inherit;
			color: var(--white);
		}
	}

	.site-header {
		background-color: var(--background-light);
	}

	.site-header .user-menu {
		background-color: var(--background-light);
	}
}



