.site-header .user-menu {
	position: absolute;
	left: -100px;
	top: 0px;
	padding: 10px;
	background-color: blue;
	transition: left .3s ease-out;
}

.site-header .user-menu.slider-open{
	left: 0;
}

@media (min-width: 490px) {
	logo-container {
		grid-column: 1 / 6;
	}
	.site-header nav {
		grid-column: 8 / -1;
		align-self: center;
		justify-self: end;
		transform: translate(0px);
		& .user-menu {
			transition: none;
			position: static;
			display: flex;
			gap: 15px;
		}
	}
}



