
.artist-card-container:hover .artist-card {
	transform: rotateY(180deg);
}

.front-card, .back-card {
	position: absolute;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
}

.back-card {
	transform: rotateY(180deg);
}

.artist-card {
	position: relative;
	height: 100%;
	width: 100%;
	transition: .4s cubic-bezier(.37,.18,.5,1.16);
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

	& picture {
		aspect-ratio: 1 / 1;
		&img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	& figcaption {
		height: 100%;
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.quiet-voice.caption {
			margin-top: 0;
		}
	}
}

.style-guide .artist-card {
	grid-column: 1 / 7;
}

@media (min-width: 768px) {
.style-guide .artist-card{
	grid-column: 2 / 5;
	}
}



@media (prefers-color-scheme: dark) {
	cite {
		color: var(--paper);
	}
}

/*	position: relative;*/

/*artist-figure figcaption {
	position: absolute;
	bottom: 0px;
	opacity: 0;
	& :hover {
		opacity: 1;
	}
}
*/

