.artist-card {
	position: relative;
	height: 100%;
	& picture {
		aspect-ratio: 1 / 1;
		&img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	& figcaption {
		margin-top: 4px;
		display: flex;
		flex-direction: column;

		.quiet-voice.caption {
			margin-top: 0;
		}
	}
}

.style-guide .artist-card {
	grid-column: 1 / 7;
}

@media (min-width: 768px) {
.style-guide .artist-card{
	grid-column: 2 / 5;
	}
}

@media (prefers-color-scheme: dark) {
	cite {
		color: var(--paper);
	}
}

/*	position: relative;*/

/*artist-figure figcaption {
	position: absolute;
	bottom: 0px;
	opacity: 0;
	& :hover {
		opacity: 1;
	}
}
*/

