.page-content {
	margin-top: 3em;
}

.home-header {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	& h1 {
		grid-column: 1 / -1;
	}
	& intro-area {
		margin-top: 1.25em;
		grid-column: 1 / -1;
		grid-row: 2;
		display: flex;
		flex-direction: column;
	}
}

.home .thoughts {
	position: relative;
	grid-column: 1/ -1;
	grid-row: 4;

	display: grid;
	grid-template-columns: subgrid;
	margin-top: 5em;
	// background-color: var(--color-two);
	border-radius: 5px;
	// box-shadow: 6px 6px 0px 0px (var(--color-three));

	& h2 {
		grid-column: 1 / 9;
	}

	& .thoughts-wrapper {
		grid-column: 1 / 11;

		margin-top: 1.25em;
		display: flex;
		flex-direction: column;
		overflow: visible;

		& .octo {
			max-width: 300px;
			transform: translateX(-40px);
		}

		& .thoughts-list {
			display: flex;
			flex-direction: column;
			gap: 1em;
			& li {
				font-size: 1.25em;
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.cycle-button-container {
		margin-top: 1.25em;
}

body.scary {
	transition: all 2s;
	background-color: hsl(var(--hue), 0%, 7%);

	* {
		color: hsl(var(--hue), 0%, 7%);
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

	.terminal {
		font-family: "inconsolata", monospace, sans-serif;
		color: var(--color-three);
	}
}

.email-link {
	color: var(--color-primary-dark);
}

@media (min-width: 600px) {

}
@media(min-width: 768px) {
	.cycle-button-container {
		grid-column: 2 / -1;
	}
	.home-header intro-area {
		grid-column: 2 / -1;
	}

	.home .thoughts {
		display: grid;
		grid-row: 4;
		grid-column:  2 / -1;
		& .thoughts-wrapper {
			flex-direction: row;

			& .octo {
				max-width: 300px;
				transform: translateY(-150px);
				transform: translateX(100px)
			}
		}
	}
}

@media (min-width: 1000px) {
	.home .thoughts .thoughts-wrapper {
		justify-content: space-between;
		& .octo {
			max-width: 350px;
			transform: translateY(-60px);
		}
	}
}

.octo-bubble-2 {
	animation: juggling 1s infinite ease-in-out .33s;
	transform-origin: center;
}

.octo-bubble-3 {
	animation: juggling 1s infinite ease-in-out .66s;
	transform-origin: center;
}

.octo-bubble-4 {
	animation: juggling 1s infinite ease-in-out .99s;
	transform-origin: center;
}


@keyframes juggling {
   0% {
       transform: translateY(0);
   }
   25% {
       transform: translateY(-40px);
   }
   100% {
       transform: translateY(0);
	}
}


.octo-legs, .octo-head {
	stroke: #121212;
	fill: #121212;
}

.octo-stache, .octo-left, .octo-right {
	fill: white;
}

@media(prefers-color-scheme: dark) {
	.octo-legs {
		fill: var(--paper);
	}
	.octo-head {
		fill: var(--paper);
	}

	.octo-stache, .octo-left, .octo-right {
		fill: #121212;
	}

	.email-link {
		color: var(--color-primary);
	}	

	.firstname, .lastname {
		fill: white;
	}

	.firstname:hover {
		fill: blue;
	}
}
