.page-content {
	padding-block: 2em;
}

.home-header {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	& h1 {
		grid-column: 1 / -1;
	}
	& intro-area {
		margin-top: 1.25em;
		grid-column: 1 / -1;
		grid-row: 2;
		display: flex;
		flex-direction: column;
	}
}

.home picture {
	margin-top: 20px;
	grid-column: 8 / 13;
	grid-row: 4;
	max-width: 400px;
	box-shadow: none;
}

.home .thoughts {
	grid-column: 1/ -1;
	grid-row: 3;

	display: grid;
	grid-template-columns: subgrid;
	margin-top: 4em;

	& .thoughts-list {
		grid-column: 1 / -1;

		margin-top: 1.25em;

		& date {
			display: block;
		}
	}
}

.thoughts-list li + li {
		margin-top: 1em;
}

.cycle-button-container {
		margin-top: 1em;
}

body.scary {
	filter: grayscale(60%);
	transition: 4s;
	background-color: black;

	* {
		color: black;
	}
}
@media(min-width: 550px) {
	.cycle-button-container {
		display: grid;
		grid-column: 8;
		grid-row: 4; 

		transform: translateY(-150px);
	}
}
@media(min-width: 768px) {
	.home-header intro-area {
		grid-column: 2 / -1;
	}

	.cycle-button-container {
		transform: translateY(-100px);
	}

	.home .thoughts {
		display: grid;
		grid-row: 3;
		grid-column:  2 / -1;
		margin-top: 4em;
	}

	& li {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.home picture {
		margin-top: 20px;
		grid-column: 8 / -1;
		grid-row: 4;
	}
}

@media(min-width: 1000px) {
	.home-header{
		grid-column: 1 / 8;
	}

	.cycle-button-container {
		grid-column: 6;
	}

	.home picture {
		grid-column: 9 / 13;
		max-width: 275px;
		grid-row: 3;
	}
}