

li.exercise-card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: var(--corners);
	border: 1px solid black;
	& p {
		flex-grow: 1;
		margin-top: .25rem;
	}
	& a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.e4p-grid{
	grid-column: 1 / -1;
	display: grid;

	gap: 20px;
}

@media (min-width: 520px) {
	.e4p-grid {
		grid-column: 2 / 11;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1000px) {
	.e4p-grid {
		grid-column: 2 / 11;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (prefers-color-scheme: dark) {
	li.exercise {
		border-radius: var(--corners);
		border: 1px solid var(--color-primary);
	}
}

