.exercise-link{
	font-family: 'Comfortaa';
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid black;

}

.exercise p, project-card p {
	margin-top: 10px;
}

.exercise, project-card {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		padding: 10px;
		border-radius: 10px;
		font-size: 1.25rem;
		& a {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}