colophon {
	display: grid;
	grid-column: 1 / -1;
}

colophon li {
	margin-top: .5em;
}

.fredoka-alphabet{
	& ul {
		border: var(--border) solid var(--color-three);
		border-radius: var(--corners);
		padding: 2rem;
		margin-top: 1em;
	}
	& li {
		font-family: "Fredoka";
		font-size: 1.125rem;
	}
}

.noto-alphabet{
	& ul {
		border: var(--border) solid var(--color-two);
		border-radius: var(--corners);
		padding: 2rem;
		margin-top: 1em;
	}
	& li {
		font-family: "Noto Sans";
		font-size: 1.125rem;
	}
}

@media (min-width: 768px) {
	colophon {
		grid-column: 2 / 11;
	}
}