colophon {
	display: grid;
	gap: 16px;
}

colophon li {
	margin-top: .5em;
}

.fredoka-alphabet{
	& ul {
		border: 1px solid black;
		border-radius: 10px;
		padding: 1rem;
	}
	& li {
		font-family: "Fredoka";
		font-size: 1.125rem;
	}
}

.noto-alphabet{
	& ul {
		border: 1px solid black;
		border-radius: 10px;
		padding: 1rem;
	}
	& li {
	font-family: "Noto Sans";
	font-size: 1.125rem;
	}
}