typeface {
	display: block;
	margin-top: 2em;
}


.lettering { 
	display: grid;
	gap: 1rem;
	& li {
	font-size: 1rem;
	font-weight: 500px;
	margin-top: 0;
	}
}

voice ul {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

lettering-voice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
}

lettering-voice h3 + p {
	padding-top: 0;
}

lettering-voice + p {
	margin-top: 2em;
}
