html {
	--black: #424242;
	--white: #FFFFFF;

	--neutral-stuffs: gray;

	--color: #3563E9;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 4px; /* or whatevers */
	--mobile-padding: 5px;

	--paper: var(--white);
	--ink: var(--black);
	--fish-blue: hsl(191, 71%, 90%);

	--standard: 1000px;
	--tight: 800px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #231a1a;
		--ink: #ffffe2;
	}
}
