button {
	font-family: "Open Sans";
	border: none;
	background-color: var(--color-primary);
	color: var(--white);
	max-width: 130px;
	padding-inline: 0;
	font-size: .9em;
	padding: 4px 16px;
	border-radius: 4px;
}

.nav-button {
	background-color: unset;
	padding-inline: 0;
	font-size: 1em;
	&.active {
		color: var(--color-secondary);
	}
	&.nav-login {
	text-decoration: underline;
	}
}

.temp-icon {
	max-width: 25px;
	fill: var(--color-secondary);
}

.profile-holder {
	max-width: 100px;
}
/*.submit-button {
	background-color: var(--fish-green);
	box-shadow: 2px 2px black;
	font-family: "Avenir", sans-serif;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
	&.php {
		background-color: var(--fish-blue);
	}
}

.cta-button {
	padding-inline: 1rem;
	padding-block: .5rem;
	border-radius: 50px;
	font-family: "Avenir", sans-serif;
	font-size: 1.25rem;
	border: 1px solid black;
}


.placeholder-icon {
	max-width: 40px;
	position: absolute;
	right: 0;
	fill: yellow;
	stroke: green;
}
*/