.login-btn {
	font-family: sans-serif;
	box-shadow: 0 2px 0 0 var(--wireframe);
	border: none;
	border-radius: 5px;
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.1);
	max-width: 100px;
}

.temp-icon {
	max-width: 40px;
	fill: var(--wireframe);
}

/*.submit-button {
	background-color: var(--fish-green);
	box-shadow: 2px 2px black;
	font-family: "Avenir", sans-serif;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
	&.php {
		background-color: var(--fish-blue);
	}
}

.cta-button {
	padding-inline: 1rem;
	padding-block: .5rem;
	border-radius: 50px;
	font-family: "Avenir", sans-serif;
	font-size: 1.25rem;
	border: 1px solid black;
}


.placeholder-icon {
	max-width: 40px;
	position: absolute;
	right: 0;
	fill: yellow;
	stroke: green;
}
*/