form {
	margin-top: 10px;
	display: grid;
	gap: 10px;
	& field {
		display: grid;
	}
	& label {
		font-size: .9rem;
		opacity: .7;
	}
	& input {
		padding: .5em;
	}
}

label + input {
	margin-top: 2px;
}