html {

/*	--green: 108;
	
	--red: 358;
	--pink: 4;
	--yellow: 42;*/
	--hue: 0;

	--primary: 206;
	--secondary: 38;

	--black: hsl(var(--hue), 0%, 7%);
	--black-shadow: hsla(var(--hue), 0%, 0%, 0.4);
	--gray-light: hsl(var(--hue), 0%, 98%);
	--gray-medium: hsl(var(--hue), 0%, 93%);
	--gray-shadow: hsl(var(--hue), 0%, 75%);
	--white: hsl(var(--hue), 0%, 94%);


	--color-primary: hsl(var(--primary), 41%, 30%);
	--color-primary-light: hsl(var(--primary), 41%, 30%, 0.4);
	--color-primary-complement: hsl(221, 70%, 66%);
	--color-secondary: hsl(var(--secondary), 72%, 65%); 
	--color-secondary-light: hsl(var(--secondary), 72%, 65%, 0.8);
	--color-secondary-complement: hsl(26, 100%, 30%);
	--color-cancel: #d1000f;

/*	--color: hsl(206, 66%, 77%);
	--highlight: hsl(190, 59%, 79%);*/

	--shadow: 0px 0px 2px 0px rgba(0 0 0 / .5);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);
	--ink-light: hsla(var(--hue), 0%, 0%, .8);
	--ink-subtitle: hsla(var(--hue), 0%, 0%, .6);
	--wireframe: hsla(var(--blue), 46%, 77%);

	--standard: 1000px;
	--tight: 700px;
}

sup {
	vertical-align: super;
	vertical-align: 25%;
	font-size: .7rem;
}

/*@media (prefers-color-scheme: dark) {
	html {
	}
	*/
}
