
/* RESET */

@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* C omponents */
@import "components.css";

@import "views.css";

@import "forms.css";

/* S tuff (modules) */
/*@import "modules.css";*/

/*body * {
	border: 1px solid black;
}
*/

/*body {
    background: linear-gradient(to bottom, transparent 8px, rgba(0, 191, 255, 0.2) 8px, rgba(0, 191, 255, 0.2) 9px, transparent 9px),
                linear-gradient(to right, transparent 10px, rgba(167, 50, 45, 0.2) 10px, rgba(167, 50, 45, 0.2) 15px, transparent 15px);
    background-size: 100% 18px, 100% 18px;
}*/

body {
	background-color: var(--gray-light);
}

p a, li a {
	color: blue;
	text-decoration: none;
	display: inline-block;
}

p a:hover, li a:hover {
	text-decoration: wavy underline;
	text-decoration-color: #FECA52;
}

li a:visited, p a:visited {
	color: var(--tile-red);
}

picture {
	border-radius: var(--corners);
}



