
.quiet-voice {
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quiet-voice.caption {
  color: var(--caption);
  margin-top: 2.5px;
  font-family: "Courier New", serif;
  letter-spacing: .02em;
}

.calm-voice, p, li {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.44;
  color: var(--ink-light);
}

.strong-voice, cite, h3 {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.subtitle {
  color: var(--ink-subtitle);
  font-size: .875rem;
}

.attention-voice, h2 {
	font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.loud-voice {
	font-family: "Montserrat", "Roboto", sans-serif;
	font-size: clamp(30px, 10vw, 3rem);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

nav li {
  font-family: sans-serif;
  font-size: .8rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

p, li {
	max-width: 70ch;
}

p + p {
  margin-top: 1rem;
}

pre + p {
  margin-top: 1rem;
}

h1 + p {
  margin-top: 1em;
}

h2 + p {
  margin-top: 1em;
  color: var(--ink-light);
}

.site-map nav li {
  font-size: .75rem;
}