.style-guide {
	& colophon, exercise-card, artist-figure, common-figure, project-card, article-card {
		grid-column: 1 / -1;
	}
}

@media (min-width: 768px) {
	.style-guide {
		& colophon, article-card, project-card {
			grid-column: 2 / 11;
		}
		& common-figure {
			grid-column: 2 / 9;
		}
		& exercise-card {
			grid-column: 2 / 5;
		}
		& artist-figure {
			grid-column: 2 / 5;
		}
		.project-card common-figure {
			grid-column: 1 / -1;
		}

	}
}


