/* could we pull in @fonts here? */

.loud-voice	{
	font-family: sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: Comfortaa, sans-serif;
	font-size: 1.8rem;
}

.strong-voice	{
	font-family: sans-serif;
	font-weight: 700;
	font-size:  1rem;
}

.attention-voice {
	font-size: 1.5rem;
	font-weight: 600;
	font-family: Comfortaa, sans-serif;
}

.quiet-heading {
	font-size: 1.125rem;
	font-weight: 600;
	font-family: Comfortaa, sans-serif;
}

.calm-voice {
	font-family: Avenir, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

.quiet-voice {
	font-family: Avenir, serif;
	font-size: .75rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}


/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 1.25rem;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
