
.article-list {
	background-color: #FACA96;
	padding-block: 60px;
}


.article-list-header header {
	display: grid;
	gap: 20px;
}

:is(.article-list-header) :is(h2, p) {
	border: 3px solid black;
	padding: 10px;
}

.article-list-content {
	margin-top: 30px;
}

.article-list-content ul {
	display: grid;
	gap: 20px;
}

.article-list inner-column {
	border: 3px solid black;
}

