
* {
  box-sizing: border-box;
}

/* IMAGES */

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.with-fit {
	aspect-ratio: 3 / 2;
}

.with-fit img {
	width: 100%; /*adjust*/
	height: 100%; /*adjust*/
	object-fit: cover;
}

/* LINKS */

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline-block;
  text-decoration: underline;
  color: blue;
}

.with-fit {
  aspect-ratio: 3 / 2;
}

.with-fit img {
  width: 100%; /*adjust*/
  height: 100%; /*adjust*/
  object-fit: cover;
}