.cta-2 cta-wrapper {
	display: block;
	background-color: var(--color-background-light);
	padding-block: 3rem;
}

.contact cta-wrapper {
	background-color: var(--paper);
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
	& picture {
		width: 30%;
	}
}

.about .cta-2 cta-text .calm-voice {
	font-size: 1rem
}

.contact cta-text p {
	margin-top: 0;
}

.contact cta-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cta-2 .action-buttons li {
	max-width: 400px;
}

.cta-2 .action-buttons li a {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.about .cta-2 cta-text {
	display: grid;
	gap: 20px;
	place-items: center;
}

.about .cta-2 cta-text {
	display: grid;
	gap: 20px;
	place-items: center;
}

.contact .cta-2 cta-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;

}

.cta-2 .action-buttons {
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.contact .cta-2 .action-buttons {
	flex-direction: column;
	gap: 10px;
}



@media (min-width: 575px) {
	.home cta-text, .about cta-text {
		justify-content: center;
		align-items: center;
/*		text-align: center;*/
		& p {
			max-width: 50ch;
		}
	}

	.contact .cta-2 cta-text {
		align-items: flex-start;
	}

	.action-buttons {
		flex-direction: row;
		gap: 20px;
	}

	.contact .cta-2 .action-buttons {
		flex-direction: row;
		& .email-input {
			margin-right: 90px;
		}
	}
}