.cta {
	display: flex;
	align-items: center;
 	background-image: repeating-linear-gradient(
    -45deg,
    #F7F9FE 0 25px,
    #c2d0f9 25px 26px
  	);
	min-height: 50vh;
	background-position: center center;
	background-size: cover;
	z-index: 1;
}
.cta inner-column {
	display: flex;
	flex-direction: column;
}
.action-buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 2rem;
}

cta-text {
	display: flex;
	flex-direction: column;
}

@media (min-width: 575px) {
	cta-text {
		justify-content: center;
		align-items: center;
		text-align: center;
		& p {
			max-width: 50ch;
		}
	}

	.action-buttons {
		flex-direction: row;
		gap: 20px;
		align-items: center;
		justify-content: center;
	}

}