.cta {
	display: flex;
	align-items: center;
 	background-image: repeating-linear-gradient(
    -45deg,
    var(--color-background-light) 0 25px,
    var(--color-light) 25px 26px
  	);
	min-height: 50vh;
	background-position: center center;
	background-size: cover;
	z-index: 1;
}

.about .cta {
	position: relative;
}

.slice {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	fill: var(--white);
}

.cta inner-column {
	display: flex;
	flex-direction: column;
}
.action-buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 2rem;
}

cta-text {
	display: flex;
	flex-direction: column;
}

@media (min-width: 575px) {
	cta-text {
		justify-content: center;
		align-items: center;
		text-align: center;
		& h3 {
			max-width: 50ch;
		}
	}

	.action-buttons {
		flex-direction: row;
		gap: 20px;
		align-items: center;
		justify-content: center;
	}

}