@import url('forms.css');


.clear-button {
	font-family: "Avenir", sans-serif;
	box-shadow: none;
	border: none;
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.1);

}

.submit-button {
	background-color: lightgreen;
	box-shadow: 2px 2px black;
	font-family: "Avenir", sans-serif;
	padding: 5px 10px;
}

.cta-button {
	padding-inline: 1rem;
	padding-block: .5rem;
	border-radius: 20px;
	font-family: "Avenir", sans-serif;
	font-size: 1.25rem;
}