html {
	--fish-green: #5AA348;
	--fish-blue: #8CCDDE;
	--dark-fish-blue: #349DB7;
	--tile-red: #B30006;
	--fish-pink: #FF584D;
	--sand-yellow: #FECA52;
}

pre {
	display: flex;
	background-color: black;
	margin-top: 1rem;
	max-width: 500px;
	padding-inline: 10px;
	border-radius: 5%;
}
