html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

.with-fit {
 aspect-ratio: 16 / 9;
}

.with-fit img {
  object-fit: cover;
  width: 100%; /*adjust*/
  height: 100%; /*adjust*/
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
}

sup {
  vertical-align: super;
  vertical-align: 25%;
  font-size: .7rem;
}

.read-more {
    margin-top: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    justify-self: start;
  }


