
/* RESET */

@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* C omponents */
@import "components.css";

@import "pages.css";

/* S tuff (modules) */
@import "modules.css";

/*body * {
	border: 1px solid black;
}*/

/* ASSETS */

p a, li a {
	color: blue;
	text-decoration: none;
	display: inline-block;
}

p a:hover, li a:hover {
	text-decoration: wavy underline;
	text-decoration-color: #FECA52;
}

li a:visited, p a:visited {
	color: var(--tile-red);
}

picture {
	border-radius: var(--corners);
}


.pink-mark {
	border-bottom: 4px dotted var(--fish-pink);
}

.blue-mark {
	border-bottom: 4px dotted var(--fish-blue);
}

.green-mark {
	border-bottom: 4px dotted var(--fish-green);
}
/* Media */

@media (min-width: 350px) {
	.fish {
		display: block;
		position: absolute;
		max-width: 50px;
		right: 250px;
	}
}

@media (min-width: 540px) {

	.takeout-form {
		grid-template-columns: repeat(2, 1fr);
	}

	.email {
		grid-column: span 2;
	}

	.company {
		grid-column: span 2;
	}

	.takeout-message {
		grid-column: 1 / 3;
	}

	.takeout-button {
	grid-column: 1 / 3;
	}
	
}

@media (min-width: 541px) {
	.fly-fishing-grid li {
		border-bottom: none;
	}
}


@media (min-width: 525px) {
	.site-header inner-column {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.header-menu {
		gap: 2.5rem;
	} 
}

@media (min-width: 650px) {
	.fish {
		display: block;
		position: absolute;
		right: 120px;
		max-width: 50px;
	}

	.influences inner-column {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--ink-light);
		background-color: var(--paper-black);
	}

	li, p {
		& a:visited {
			color: var(--fish-pink);
		}
		& a {
			color: hsl(191 71% 59% / 1);
		}
	}
}