
/* RESET */

@import "preset";

/* S etup */
@import "setup";

/* S setings */
@import "settings";

/* S tructure */
@import "structure";

/* T ypography */
@import "typography";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* C omponents */
@import "components";

@import "pages";

/* S tuff (modules) */
@import "modules";

/*body * {
	border: 1px solid black;
}
*/

/*body {
    background: linear-gradient(to bottom, transparent 8px, rgba(0, 191, 255, 0.2) 8px, rgba(0, 191, 255, 0.2) 9px, transparent 9px),
                linear-gradient(to right, transparent 10px, rgba(167, 50, 45, 0.2) 10px, rgba(167, 50, 45, 0.2) 15px, transparent 15px);
    background-size: 100% 18px, 100% 18px;
}*/

body {
	background-color: var(--paper);
}

p a, li a, article a {
	color: var(--ink-light);
	text-decoration: underline;
	display: inline-block;
	font-weight: 500;
	position: relative;
}

p a:hover, li a:hover, article a:hover {
	text-decoration: underline;
	text-decoration-thickness: var(--border);
	text-decoration-color: var(--color-primary);
}

.site-header li a, .site-footer li a {
	font-weight: 400;
}

.site-header li a.active {
	text-decoration: underline;
	text-decoration-thickness: var(--border);
	text-decoration-color: var(--color-three);
}

picture {
	border-radius: var(--corners);
	box-shadow: var(--shadow);
}

.page-content section:first-of-type {
	margin-top: 2em;
}



/* Media */

@media (min-width: 350px) {
	.fish {
		display: block;
		position: absolute;
		max-width: 50px;
		right: 250px;
	}
}

@media (min-width: 540px) {

	.takeout-form {
		grid-template-columns: repeat(2, 1fr);
	}

	.email {
		grid-column: span 2;
	}

	.company {
		grid-column: span 2;
	}

	.takeout-message {
		grid-column: 1 / 3;
	}

	.takeout-button {
	grid-column: 1 / 3;
	}
	
}

@media (min-width: 541px) {
	.fly-fishing-grid li {
		border-bottom: none;
	}
}


@media (min-width: 525px) {
	.site-header inner-column {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.header-menu {
		gap: 2.5rem;
	} 
}

@media (min-width: 650px) {
	.fish {
		display: block;
		position: absolute;
		right: 120px;
		max-width: 50px;
	}

	.influences inner-column {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--background-dark);
	}

	p a, li a, article a {
		color: var(--color-primary);
		display: inline-block;
	}
}