body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

inner-column {
	width: 98%;
	max-width: 1000px;
	margin-inline: auto;
	padding: 2rem 1rem;
} 

p + p {
	padding-top: 1rem;
}

pre + p {
	padding-top: 1rem;
}

h1 + p {
	padding-top: 1em;
}

h2 + p {
	padding-top: 1em;
}

h3 + p {
	padding-top: .5em;
}

experience-gained, div {
	display: block;
}

/* Grid Classes */

.pro-designer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 }