.whisper-voice {
	font-size: .8rem;
	font-family: Avenir, sans-serif;
}

.quiet-voice {
	font-size: .9rem;
	font-family: Avenir, sans-serif;
	font-weidght: 300;
}
.indoor-voice {
	font-size: 1rem;
	font-family: Avenir, sans-serif;
	font-weight: 300;
}

.output-voice {
	font-size: 1.25rem;
	font-family: Avenir, sans-serif;
	font-weight: 300;
}

.outdoor-voice {
	font-size: 1.5rem;
	font-family: Avenir, sans-serif;
}

.loud-voice {
	font-size: 2rem;
	font-family: Avenir, sans-serif;
}

.bold {
	font-weight: 600;
}