
.quiet-voice {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.75rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quiet-voice.caption {
  color: var(--caption);
  margin-top: 2.5px;
  font-family: "inconsolata", monospace, sans-serif;
  letter-spacing: .02em;
}

.calm-voice, p, li {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6;
  color: var(--ink-light);
}

.strong-voice, cite {
  font-family: "Fredoka", "Noto Sans", "Noto Sans", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: .2;
}

.attention-voice, h2 {
	font-family: "Fredoka", "Noto Sans", "Noto Sans", sans-serif;
  font-size: clamp(24px, 8vw, 2rem);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.loud-voice {
	font-family: "Fredoka", "Noto Sans", "Noto Sans", sans-serif;
	font-size: clamp(30px, 10vw, 3rem);
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

nav li {
  font-family: "Fredoka", "Noto Sans", "Noto Sans", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

p, li {
	max-width: 70ch;
}

p + p {
  margin-top: 1rem;
}

pre + p {
  margin-top: 1rem;
}

h1 + p {
  margin-top: 1em;
}

h2 + p {
  margin-top: 1em;
}

h3 + p {
  margin-top: .5em;
}

.site-map nav li {
  font-size: .75rem;
}

@media (prefers-color-scheme: dark) {
  h1, h2 {
    color: var(--ink);
  }
}