@import "day-3-grid/day-3-details-element/style.css";

.whisper-voice {
	font-size: .8rem;
	font-family: Avenir, sans-serif;
}

.quiet-voice {
	font-size: .8rem;
	font-family: Avenir, sans-serif;
	font-weidght: 300;
}
.calm-voice {
	font-size: 1rem;
	font-family: Avenir, sans-serif;
	font-weight: 300;
}

.company-name {
	font-size: 1rem;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
}

.small-heading {
	font-size: 1.125rem;
	font-family: Comfortaa, sans-serif;
	font-weight: 600;
}

.quiet-heading {
	font-size: 1rem;
	font-family: Comfortaa, sans-serif;
}

.output-voice {
	font-size: 1.25rem;
	font-family: 'Avenir', sans-serif;
	font-weight: 300;
}

.attention-voice {
	font-size: 1.5rem;
	font-family: 'Comfortaa', sans-serif;
}

.loud-voice {
	font-size: 2rem;
	font-family: 'Comfortaa', sans-serif;
	letter-spacing: .003em;
}

.teaser-little {
	font-size: .9rem;
	color: var(--fish-green);
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

p, li {
	line-height: 1.44;
	font-size: 1rem;
	max-width: 70ch;
	font-family: 'Avenir', sans-serif;
}