.announcement-grid {
	background-color: #F3EBDC;
	
}
.announcement-grid ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	gap: 10px;
}

@media (prefers-color-scheme: dark) {
	.announcement-grid {
		background-color: var(--paper-light-gray);
	}
}