.divider-wrapper {
	grid-column: 1 / -1;
	padding: 1em;
}
.blog-divider {
    background-color: var(--color-two);
    opacity: 0.5;
    width: 100%;
    height: 4px;
    border: unset;
    margin-block: 4em;
}

.work-detail .headline {
	grid-column: 1 / -1;
}

.work-detail .common-figure {
	grid-column: 1 / -1;
}

.double-figure {
	grid-column: 1 / -1;
}

@media (min-width: 768px) {
	.divider-wrapper {
		padding: 0;
		grid-column: 2 / 11;
	}
	.work-detail .headline {
		grid-column: 2 / 11;
	}
	
	.work-detail .common-figure {
		grid-column: 2 / 11;
	}

	.double-figure {
		grid-column: 2 / 11;
	}
}

